{% extends "whiskerboard/base.html" %}
{% load i18n %}

{% block content %}
<div id="webservices" class="frame">
    <table id="service-list">
        <thead>
            <tr>
                <th>{% trans 'Service' %}</th>
                <th class="today">{% trans 'Current' %}</th>
                {% for day in past %}
                <th class="date">{{ day|date:"N j" }}</th>
                {% endfor %}
        </thead>
        <tbody id="services-body">
            {% for service in services %}
            <tr>
                <td><a href="{{ service.get_absolute_url }}">{{ service.name }}</a></td>
                <td class="status highlight">
                    <a href="{{ service.get_absolute_url }}">
                        {% with service.get_status as latest_status %}
                        {% if latest_status %}
                        <img src="{{ STATIC_URL }}images/status/{{ latest_status }}.png" alt="{{ latest_status }}"/>
                        {% else %}
                        <img src="{{ STATIC_URL }}images/status/{{ default }}.png" alt="{{ default }}"/>
                        {% endif %}
                        {% endwith %}
                    </a>
                </td>
                {% for status in service.get_status_history %}
                <td class="status">
                    {% if status %}
                    <img src="{{ STATIC_URL }}images/status/{{ status }}.png" alt="{{ status }}">
                    {% else %}
                        <img src="{{ STATIC_URL }}images/status/{{ default }}.png" alt="{{ default }}"/>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include "whiskerboard/legend.html" %}
</div>
{% endblock %}
