{% extends "whiskerboard/base.html" %}
{% load i18n %}

{% block content %}

{% regroup services|dictsort:"category.name" by category as category_list %}

      <div id="webservices" class="frame">

    {% for service in services %}

          <table id="service-list">
            <thead>
              <tr>
                <th>{% trans 'Service' %}</th>
                <th class="today">{% trans 'Current' %}</th>
              
                {% for day in past %}
                  <th class="date">{{ day|date:"N j" }}</th>
                {% endfor %}

            </thead>

            <tbody id="services-body">
                <tr>
                  <td>
                    <a href="{{ service.slug }}">
                      {{ service.name }} </a>
                  </td>
                  
                  <td class="status highlight">
            <a href="{{ service.get_absolute_url }}">
          {% with service.events.latest.status as latest_status %}{% if latest_status %}
          <img src="{{ STATIC_URL }}images/status/{{ latest_status.image }}.png"
                      alt="{{ latest_status }}"/>
            {% else %}
          <img src="{{ STATIC_URL }}images/status/{{ default.image }}.png"
                      alt="{{ default.name }}"/>
        {% endif %}{% endwith %}
            </a>
                  </td>
                  
                  {% for status in service.last_five_days %}
                    <td class="status">
                      <img src="{{ STATIC_URL }}images/status/{{ status.image }}.png" alt="{{ status.image }}">
                    </td>
                      
                </tr>
                
              {% endfor %}
              
            </tbody>
          </table>

        {% endfor %}
        {% include "whiskerboard/_legend.html" %}
        
      </div>
      
{% endblock %}

